body {
    background-color: #f5f5f5;
    color: #212121;
    display: flex;
    flex-direction: column;
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    height: 100vh;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    width: 80%;
    max-width: 1024px;
    margin: auto;
    line-height: 1.6;
}

/* Forces the footer to always be at the bottom,
   whatever the size of the screen. */
body > section:last-of-type {
    flex: 1;
}

section {
    padding: 1rem 1rem;
}
header h1 {
    font-size: 4.0rem;
    margin: 3rem 0 2rem 0;
    text-align: center;
}

section .description {
    margin-bottom: 2rem;
}

p {
    margin: 1.2rem 0;
}

footer {
    background-color: black;
    color: white;
    font-size: 0.9rem;
    font-style: italic;
    margin: 0 1rem;
    padding: 1rem;
    text-align: center;
}
footer a {
    color: #f5f5f5;
}

h1 {
    font-size: 2em;
}
.services > h2 {
    border-bottom: 2px solid black;
    margin-bottom: 0.5rem;
}

.services > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.card,
.card .text {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #5c6bc0;
    margin-bottom: 0.5rem;
    position: relative;
    text-align: center;
    width: 33%;
}
.card:nth-child(6n+2) {
    background-color: #e84e40;
}
.card:nth-child(6n+3) {
    background-color: #ec407a;
}
.card:nth-child(6n+4) {
    background-color: #ab47bc;
}
.card:nth-child(6n+5) {
    background-color: #7e57c2;
}
.card:nth-child(6n+6) {
    background-color: #738ffe;
}

.card a {
    color: white;
    text-decoration: none;
}
.card a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.card:hover {
    box-shadow: 1px 1px 4px black;
}
.card a:focus {
    outline: none;
    text-decoration: underline;
}
.card:focus-within {
    box-shadow: 1px 1px 4px black;
}
.card:focus-within a:focus {
    text-decoration: none;
}

.card .text {
    color: white;
    flex-grow: 1;
    order: 1;
}

.card .text > * + * {
  margin-top: 0.75rem;
}
.card .text :last-child {
  margin-top: auto;
  margin-bottom: 0.5rem;
}
.card .text :nth-last-child(2) {
  margin-bottom: 0.75rem;
}

.card .img img {
    margin: 1rem 1rem 0 1rem;
    max-width: 150px;
    width: 150px;
    max-height: 150px;
}
.card .name {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}
.card .subtitle {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    font-style: oblique;
}

@media (max-width: 700px) {
    body {
        width: 90%;
    }
    .card {
        width: 49%;
    }
}
@media (max-width: 399px) {
    .card {
        width: 100%;
    }
}
